[submodule "verifiers"]
	path = deps/verifiers
	url = https://github.com/joanvelja/verifiers.git
[submodule "renderers"]
	path = deps/renderers
	url = https://github.com/joanvelja/renderers.git
[submodule "research-environments"]
	path = deps/research-environments
	url = https://github.com/PrimeIntellect-ai/research-environments.git
[submodule "configs/private"]
	path = configs/private
	url = git@github.com:PrimeIntellect-ai/research-configs.git
[submodule "pydantic-config"]
	path = deps/pydantic-config
	url = https://github.com/PrimeIntellect-ai/pydantic-config
